
@{
                ViewBag.Title = "Giriş Yap";
                Layout = "~/Views/Shared/SiteLayout.cshtml";
}


<div class="container">
    <div class="site-title"><div class="site-inside"><span>Giriş Yap</span></div></div>
    <div class="row">
        <div class="col-md-6">
            <div class="forms-separation">
                <div class="login-form-box">
                    <form class="login-form">
                        <h3>Giriş Yap</h3>
                        <p>Kullanıcı Adı</p>
                        <input type="text" name="login-username" class="login-line">
                        <p>Şifre</p>
                        <input type="password" name="login-password" class="login-line">
                        <input type="submit" value="Giriş Yap" class="button-6">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
