
@{
                ViewBag.Title = "Kayıt Ol";
                Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2 style="text-align:center; margin-top:20px;">Kayıt Ol</h2>
<div class="content">
    <div class="container">

        <div class="col-md-6">
            <form class="register-form" method="post">         
                
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:15pt;">Kullanıcı Adı</p>
                        <input type="text" name="username" class="input-line">

                        <p style="font-size:15pt;">Şifre</p>
                        <input type="password" name="password" class="input-line">
                    </div>
                </div>
                <input type="submit" value="Kayıt Ol" class="button-7">
            </form>
        </div>
    </div>
</div>



