
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2 style="text-align:center; margin-top:20px;">Meril Ticaret</h2>
<div class="container">
    <p>Her an, her yerde müşterilerinin yanında olarak teknolojiye erişimi kolaylaştırmayı, keyifli bir alışveriş ve deneyim ortamı sunmayı amaçlamaktadır.TV, ses ve görüntü sistemlerinden cep telefonlarına, bilgisayarlardan oyun ve hobi ürünlerine, beyaz eşyadan kişisel bakıma, teknoloji ürünlerinde yüzlerce markanın binlerce ürününü tüketicilerle buluşturmaktadır.</p>
</div>