
@{
    ViewBag.Title = "İletisim";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2 style="text-align:center; margin-top:20px;">İletişim</h2>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">          
                <div class="google-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3178114.0959154596!2d27.84444652291977!3d38.932501123567846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7a24975fe5d%3A0xa05d7aa13cfcaf89!2sWissen!5e0!3m2!1str!2str!4v1554032375506!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                <div class="contact-info">
                    <div class="row">
                        <div class="col-md-4">
                            <ul>
                                <li><span class="location">Yavuz Selim Mah. 1004.Sokak No:8/8 Bağcılar/İSTANBUL</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><span class="mail"><a href="mailto:merilticaret@gmail.com">merilticaret@gmail.com</a></span></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><span class="phone">(0212) 452 75 12</span></li>                  
                            </ul>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>