

<div class="box">
    <div class="container">
        <div class="tesla-carousel" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-autoplay="false" data-tesla-rotate="false">
            <div class="site-title">
                <ul class="wrapper-arrows">
                    <li><i class="icon-517 prev" title="left arrow"></i></li>
                    <li><i class="icon-501 next" title="right arrow"></i></li>
                </ul>
                <div class="site-inside">
                    <span>Servisler</span>
                </div>
            </div>
            <div class="row">
                <div class="tesla-carousel-items">
                    <div class="col-md-4 col-xs-6">
                        <div class="service-1">
                            <h4>Ücretsiz kargo</h4>
                            <i class="icon-374" title="shipping"></i>
                            <div class="service-description">
                                <p>50 TL ve üzeri alışverişlerinizde ücretsiz kargo </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="service-1 service-color-1">
                            <h4>Bir ay içinde iade</h4>
                            <i class="icon-271" title="time"></i>
                            <div class="service-description">
                                <p>Ürünlerinizle ilgili bir sorun olduğunda bir ay içinde iade edebilirsiniz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="service-1 service-color-2">
                            <h4>Kapıda ödeme</h4>
                            <i class="icon-260" title="cash"></i>
                            <div class="service-description">
                                <p>Kapıda ödeme seçeneği ile alışverişinizi tamamlayabilirsiniz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

